<div class="container">
<form class="form-group" #formData="ngForm" (submit)="create(formData)">
    *Title:
    <input class="form-control" type="text" name='title' [(ngModel)]="product.title" #title='ngModel' required minlength="4" >
    *Price:
    <input class="form-control" type="text" name="price" required [(ngModel)]="product.price"  #price='ngModel'>
    Image Url:
    <input class="form-control" type="text" name="image"  [(ngModel)]="product.image"  #image='ngModel'><br>
    <input class="btn btn-primary btn-block" type="submit" value="Create"  [disabled]="!formData.valid && price.dirty">
  </form></div>