<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<div class="container navbar fixed-top navbar-dark bg-dark">

    <a  [routerLink]= "['chicago']"> Chicago </a> 

<a [routerLink]= "['sanjose']"  >San Jose</a>
<a [routerLink]= "['seattle']" >Seattle</a>
<a [routerLink]= "['dc']" >DC</a>
<a [routerLink]= "['burbank']" >Burbank</a>
<a [routerLink]= "['dallas']" >Dallas</a>
</div>
<div class="container">
<router-outlet></router-outlet>
</div>