.blue{
    background-color: #9ec6f8;
    border: 3px solid;
    height:445px;
    position: relative;
    top:15px;
    left:150px;
padding:10px;
text-align:center;
}
.btn{
    border:1px solid;
    background-color: lightgray;
    margin-bottom: 10px;
}